In [1]:
# The code was removed by Watson Studio for sharing.

,System Name,DAT Version (VirusScan Enterprise),Domain Name,OS Platform,+,User Name,Last Communication
0,ALIEVAWIN10VM-1,9724,B2B,Workstation,"OS Type:Windows 10,OS Platform:Workstation,OS ...",bylinaw,27/08/20 10:12:13 BST
1,ALIW0100640V,9724,B2B,Workstation,"OS Type:Windows 7,OS Platform:Workstation,OS V...",NaN,27/08/20 10:18:41 BST
2,ALIW0100836V,9724,B2B,Workstation,"OS Type:Windows 7,OS Platform:Workstation,OS V...",loord,27/08/20 10:16:27 BST
3,ALIW100102V,9724,B2B,Workstation,"OS Type:Windows 10,OS Platform:Workstation,OS ...","a-obodb,papadopoulosp",27/08/20 10:19:08 BST
4,ALIW100103V,9724,B2B,Workstation,"OS Type:Windows 10,OS Platform:Workstation,OS ...",NaN,27/08/20 10:14:44 BST

In [6]:
data = data.groupby(by = ["DAT Version (VirusScan Enterprise)"]).count()
data.head()

,System Name,Domain Name,OS Platform,+,User Name,Last Communication
DAT Version (VirusScan Enterprise),,,,,,
0,14,14,14,14,14,14
9315,1,1,1,1,1,1
9368,1,1,1,1,0,1
9413,1,1,1,1,0,1
9419,1,1,1,1,0,1

In [7]:
data.tail()

,System Name,Domain Name,OS Platform,+,User Name,Last Communication
DAT Version (VirusScan Enterprise),,,,,,
9722,76,76,76,76,71,76
9723,124,124,124,124,108,124
9724,1757,1757,1757,1757,1680,1757
9725,1049,1049,1049,1049,1002,1049
DAT Version (VirusScan Enterprise),1,1,1,1,1,1

In [15]:
data  = data.drop(["Domain Name", "OS Platform", "+", "User Name", "Last Communication"], axis = 1)

In [16]:
data

                                    System Name
DAT Version (VirusScan Enterprise)
0                                            14
9315                                          1
9368                                          1
9413                                          1
9419                                          1
9444                                          1
9478                                          1
9493                                          1
9543                                          1
9549                                          1
9555                                          2
9556                                          1
9557                                          1
9558                                          1
9564                                          1
9571                                          1
9596                                          1
9617                                          1
9619                                          1
9631                                          1
9633                                          2
9638                                          1
9642                                          1
9648                                          2
9649                                          1
9652                                          1
9653                                          3
9654                                          2
9656                                          1
9660                                          1
...                                         ...
9697                                         38
9698                                          3
9699                                          6
9700                                          9
9701                                         31
9702                                         28
9703                                         17
9704                                         30
9705                                         19
9706                                          6
9707                                          8
9708                                         20
9709                                         21
9710                                         37
9711                                         30
9712                                         50
9713                                          6
9714                                         11
9715                                         45
9716                                         48
9717                                         50
9718                                         48
9719                                        119
9720                                         10
9721                                         19
9722                                         76
9723                                        124
9724                                       1757
9725                                       1049
DAT Version (VirusScan Enterprise)            1

[79 rows x 1 columns]

In [19]:
data.rename(columns = {'System Name': 'Number of Devices '})

                                    Number of Devices
DAT Version (VirusScan Enterprise)
0                                                   14
9315                                                 1
9368                                                 1
9413                                                 1
9419                                                 1
9444                                                 1
9478                                                 1
9493                                                 1
9543                                                 1
9549                                                 1
9555                                                 2
9556                                                 1
9557                                                 1
9558                                                 1
9564                                                 1
9571                                                 1
9596                                                 1
9617                                                 1
9619                                                 1
9631                                                 1
9633                                                 2
9638                                                 1
9642                                                 1
9648                                                 2
9649                                                 1
9652                                                 1
9653                                                 3
9654                                                 2
9656                                                 1
9660                                                 1
...                                                ...
9697                                                38
9698                                                 3
9699                                                 6
9700                                                 9
9701                                                31
9702                                                28
9703                                                17
9704                                                30
9705                                                19
9706                                                 6
9707                                                 8
9708                                                20
9709                                                21
9710                                                37
9711                                                30
9712                                                50
9713                                                 6
9714                                                11
9715                                                45
9716                                                48
9717                                                50
9718                                                48
9719                                               119
9720                                                10
9721                                                19
9722                                                76
9723                                               124
9724                                              1757
9725                                              1049
DAT Version (VirusScan Enterprise)                   1

[79 rows x 1 columns]

In [23]:
duplicate_rows_data = data[data.duplicated()]
duplicate_rows_data.shape

(52, 1)

In [26]:
data.index.unique()

Index(['0', '9315', '9368', '9413', '9419', '9444', '9478', '9493', '9543',
       '9549', '9555', '9556', '9557', '9558', '9564', '9571', '9596', '9617',
       '9619', '9631', '9633', '9638', '9642', '9648', '9649', '9652', '9653',
       '9654', '9656', '9660', '9661', '9663', '9667', '9668', '9670', '9672',
       '9674', '9676', '9680', '9681', '9682', '9683', '9684', '9688', '9691',
       '9693', '9694', '9695', '9696', '9697', '9698', '9699', '9700', '9701',
       '9702', '9703', '9704', '9705', '9706', '9707', '9708', '9709', '9710',
       '9711', '9712', '9713', '9714', '9715', '9716', '9717', '9718', '9719',
       '9720', '9721', '9722', '9723', '9724', '9725',
       'DAT Version (VirusScan Enterprise)'],
      dtype='object', name='DAT Version (VirusScan Enterprise)')

In [30]:
data = data.drop('DAT Version (VirusScan Enterprise)')

In [37]:
data.to_csv('DAT_compiance_report1.csv')

In [40]:
practice = pd.read_csv('DAT_compiance_report1.csv')
practice.head()

   DAT Version (VirusScan Enterprise)  System Name
0                                   0           14
1                                9315            1
2                                9368            1
3                                9413            1
4                                9419            1

In [42]:
##Download the file through the notebook — but only if the file is in CSV format.
import base64
from IPython.display import HTML

def create_download_link( data, title = "Download CSV file", filename = "DAT_compiance_report1.csv"):  
    csv = data.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(data)